<?xml version="1.0" encoding="UTF-8"?>
<!--suppress WicketForgeHtmlIdInspection -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <table class="w100">
        <tr>
            <td class="tree-junction-td">
                <a wicket:id="junction"></a>
            </td>
            <td>
                <div wicket:id="content" class="tree-content">[content]</div>
            </td>
        </tr>
    </table>
</wicket:panel>
</body>
</html>