<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>

    <ul wicket:id="panel" class="nav nav-pills flex-column">
        <li wicket:id="group" class="nav-item">
            <a wicket:id="link" class="nav-link">
                <span wicket:id="count" class="badge zametka-count-badge float-right ml-1"></span>
                <span wicket:id="name"></span>
            </a>
        </li>
    </ul>

</wicket:panel>
</body>
</html>