<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">

<wicket:extend>
    <nav class="navbar navbar-inverse fixed-top bg-inverse ws-navbar">
        <div class="navbar-logo">
            <a href="/">
                <img src="/img/feather_32.png" style="filter: invert(0.97); margin-top: -4px;">
                <wicket:panel wicket:id="brand_logo"/>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-menu-item"><a wicket:id="ws_link" class="btn btn-sm"><img src="/img/back.svg" style="height: 27px;"></a></div>
            <div class="navbar-menu-item">
                <div class="dropdown">
                    <a class="btn btn-sm dropdown-toggle" data-toggle="dropdown" title="Меню">
                        <i class="fa fa-sun-o"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a wicket:id="logout_link" class="dropdown-item"><img src="/img/log-out.svg" style="width: 20px;"> Выход</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid ml20 mb50" style="margin-top: 70px;">
        <div class="txtc" style="max-width: 480px;margin: 0 auto;">

            <h3 class="mb30">Профиль пользователя</h3>
            <div wicket:id="panel">

                <div wicket:id="feedback" class="mt20"></div>

                <a wicket:id="home_link" class="btn btn-success mt20">Главная страница</a>

                <form wicket:id="form" class="mt20">

                    <div class="form-group">
                        <label>Текущий пароль</label>
                        <input wicket:id="old_password_field" class="form-control" type="password" required autofocus/>
                        <span wicket:id="old_password_error"></span>
                    </div>

                    <div class="form-group">
                        <label>Новый пароль</label>
                        <input wicket:id="password1_field" class="form-control" type="password" required/>
                        <span wicket:id="password1_error"></span>
                    </div>
                    <div class="form-group">
                        <label>Повтор пароля</label>
                        <input wicket:id="password2_field" class="form-control" type="password" required/>
                        <span wicket:id="password2_error"></span>
                    </div>

                    <div class="form-group">
                        <label>Код на картинке</label>
                        <input wicket:id="captcha_value" class="form-control" type="text" required/>
                        <span wicket:id="captcha_error"></span>
                        <div class="mt20">
                            <img wicket:id="captcha_image" style="width: 180px;"/>
                            <a href="#" wicket:id="change_captcha" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-refresh mr-it"></i>Обновить</a>
                        </div>
                    </div>

                    <div class="txtc">
                        <a wicket:id="update_link" class="btn btn-success">Изменить пароль</a>
                    </div>
                    <div class="txtc mt50">
                        <a wicket:id="ws_link2" class="btn btn-secondary">Назад к заметкам</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</wicket:extend>

</html>