<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <div wicket:id="panel">

        <a wicket:id="toggle_form_panel_link" class="btn btn-secondary btn-sm float-right" title="Добавить новую заметку">
            <i class="fa fa-plus" title="Добавить заметку"></i> Добавить
        </a>

        <div wicket:id="form_panel" class="mt-1 zametka-form-panel"></div>

    </div>
</wicket:panel>
</body>
</html>