<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <form wicket:id="form">
        <div>
            <select wicket:id="group_selector" class="form-control"></select>
        </div>

        <div class="mt20">
            <a wicket:id="cancel_link" class="btn btn-secondary ">Отменить</a>
            <a wicket:id="move_link" class="btn btn-primary">Переместить</a>
        </div>

    </form>
</wicket:panel>
</body>
</html>