<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <div wicket:id="add_category_modal"></div>
    <form wicket:id="form" class="mt20">
        <div>
            Категория:
            <select wicket:id="category_selector" class="custom-select ml-1 form-control-sm"></select>
            <a wicket:id="add_category" class="btn btn-sm btn-secondary"><i class="fa fa-plus"></i></a>
        </div>

        <div class="pt5">
            <textarea wicket:id="text" class="form-control"></textarea>
            <a wicket:id="save_button" class="btn btn-sm btn-primary mt10" style="float:right">Добавить заметку</a>
        </div>
    </form>

</wicket:panel>
</body>
</html>