<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <div wicket:id="add_group_modal"></div>
    <form wicket:id="form">
        <div>
            <label>Категория</label>
            <select wicket:id="group_selector" class="custom-select ml-1 form-control-sm"></select>
            <a wicket:id="add_group" class="btn btn-sm btn-secondary"><i class="fa fa-plus"></i></a>
        </div>

        <div class="pt-2">
            <textarea wicket:id="text" class="form-control" autofocus></textarea>
            <div class="mt-2">
                <a wicket:id="cancel_button" class="btn btn-sm btn-secondary mr-1">Отменить</a>
                <a wicket:id="save_button" class="btn btn-sm btn-primary">Добавить</a>
            </div>
        </div>
    </form>

</wicket:panel>
</body>
</html>