.badge-brown {
    background-color: brown;
}

.badge-dark-cyan {
    background-color: darkcyan;
}

.badge-lsg {
    background-color: lightslategrey;
}

.badge-blue-1 {
    background-color: #5964a8
}

.badge-magenta-1 {
    background-color: #873d78
}

.badge-dark-yellow {
    background-color: #c89745
}