.fsi {
    font-size: inherit !important;
}

.f200 {
    font-size: 200% !important;
}

.f150 {
    font-size: 150% !important;
}

.f130 {
    font-size: 130% !important;
}

.f120 {
    font-size: 120% !important;
}

.f110 {
    font-size: 110% !important;
}

.f90 {
    font-size: 90% !important;
}

.f85 {
    font-size: 85% !important;
}

.f80 {
    font-size: 80% !important;
}

.f75 {
    font-size: 75% !important;
}

.f65 {
    font-size: 65% !important;
}

.f36px {
    font-size: 36px !important;
}

.f30px {
    font-size: 30px !important;
}

.f24px {
    font-size: 24px !important;
}

.f20px {
    font-size: 20px !important;
}

.f18px {
    font-size: 18px !important;
}

.f16px {
    font-size: 16px !important;
}

.f15px {
    font-size: 15px !important;
}

.f14px {
    font-size: 14px !important;
}

.f13px {
    font-size: 13px !important;
}

.f12px {
    font-size: 12px !important;
}

.f11px {
    font-size: 11px !important;
}

.f10px {
    font-size: 10px !important;
}

.f9px {
    font-size: 9px !important;
}

.f8px {
    font-size: 8px !important;
}
