<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
    <title wicket:id="title"></title>
    <meta name="description" wicket:id="meta_description"/>
    <meta name="keywords" wicket:id="meta_keywords"/>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no"/>

    <link href="/img/feather_32.png" rel="icon"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha256-rr9hHBQ43H7HSOmmNkxzQGazS/Khx+L8ZRHteEY1tQ4=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous"/>

    <link wicket:id="style_css_link" rel="stylesheet">
</head>

<body>

<wicket:container wicket:id="header"/>

<a name="top_marker"></a>

<div id="back-top" wicket:id="top_link" style="display:none; z-index: 100;">
    <a href="#top_marker">Наверх</a>
    <script>$site.Utils.enableScrollTop();</script>
</div>

<wicket:child/>

<div wicket:id="footer" class="container-fluid txtc w100"></div>

</body>
</html>
