<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>

    <div wicket:id="edit_group_modal"></div>

    <div wicket:id="panel" class="text-center">
        <div class="d-inline-block">
            <a wicket:id="name_link" class="group-header" title="Управление">
                <table>
                    <tr>
                        <td wicket:id="name"></td>
                        <td wicket:id="angle_down_icon">
                            <div style="padding-top: 8px;margin-left: 5px; font-size: 20px">
                                <i class="fa fa-angle-down txt-muted"></i>
                            </div>
                        </td>
                    </tr>
                </table>
            </a>
        </div>
    </div>

</wicket:panel>
</body>
</html>