<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">

<wicket:extend>

    <script>
        var cls = document.createAttribute("class");
        cls.value = "hp-body";
        document.getElementsByTagName("body")[0].setAttributeNode(cls);
    </script>

    <div wicket:id="login_modal"></div>
    <div wicket:id="registration_modal"></div>

    <div class="hp-container">

        <div class="hp-content">
            <div class="hp-logo-block">
                <div style="max-width: 700px; margin: auto">
                    <h1 class="glow in tlt">Zametki</h1>
                    <p class="tlt hp-subtitle" data-in-effect="bounceInDown">
                        Мои персональные заметки
                    </p>
                </div>
            </div>

            <div class="decal"></div>

            <div class="fade text-center pt-5 f30px hp-menu">
                <div wicket:id="not_logged_in_block">
                    <div><a wicket:id="login_link">Вход</a></div>
                    <div><a wicket:id="registration_link">Регистрация</a></div>
                </div>

                <div wicket:id="logged_in_block">
                    <div><a wicket:id="lenta_link">Лента</a></div>
                    <div><a wicket:id="logout_link">Выход</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="hp-footer">
        <div class="decal"></div>
        <a wicket:id="about_link" class="f12px" style="color:#999;">О сайте</a>
    </div>

    <!--suppress ReservedWordAsName -->
    <script>
        $(function () {
            $('code').each(function () {
                var $this = $(this);
                $this.text($this.html());
            })

            $('.hp-logo-block h1')
                .fitText(0.5)
                .textillate({in: {effect: 'flipInY'}});

            $('.hp-logo-block p')
                .fitText(3.2, {maxFontSize: 18})
                .textillate({initialDelay: 1000, in: {delay: 3, shuffle: true}});

            setTimeout(function () {
                $('.fade').addClass('in');
            }, 250);

            setTimeout(function () {
                $('h1.glow').removeClass('in');
            }, 2000);
        });
    </script>
</wicket:extend>
</html>
