<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">

<wicket:extend>

    <div wicket:id="login_modal"></div>
    <div wicket:id="registration_modal"></div>

    <div wicket:id="not_logged_in_block" class="front">
        <div class="menu-item"><a wicket:id="login_link">Вход</a></div>
        <div class="menu-item"><a wicket:id="registration_link">Регистрация</a></div>
    </div>

    <div wicket:id="logged_in_block" class="front">
        <div class="menu-item"><a wicket:id="logout_link">Выход</a></div>
    </div>


</wicket:extend>
</html>
