<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">

<wicket:extend>

    <div class="container-fluid">
        <form wicket:id="form" class="mt20">
            <textarea wicket:id="text" class="form-control"></textarea>
            <a wicket:id="save_button" class="btn btn-sm btn-primary mt10" style="float:right">Добавить</a>
        </form>

        <div wicket:id="lenta" class="mt10">
            <div wicket:id="zametka">
                <div wicket:id="content"></div>
            </div>
        </div>
    </div>

</wicket:extend>

</html>