<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">

<wicket:extend>

    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
        <button class="navbar-toggler navbar-toggler-right hidden-md-up" type="button" data-toggle="collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <button wicket:id="categories_popup_link" class="navbar-toggler navbar-toggler-right hidden-md-up pr20"
                style="height: 40px; margin-right: 65px;" type="button">
            Категории
        </button>
        <a class="navbar-brand" href="#">
        <img src="/img/feather_32.png" style="filter: invert(1);"><span class="hidden-xs-down pl10">Zametki</span>
        </a>
        <div class="collapse navbar-collapse"></div>
    </nav>

    <div class="container-fluid">
        <div wicket:id="categories_modal"></div>

        <div class="row">
            <nav class="col-md-2 hidden-sm-down bg-faded sidebar">
                <wicket:container wicket:id="categories"/>
            </nav>
            <main class="col-md-10 offset-md-2 pt-3">
                <div wicket:id="create_form"></div>

                <div wicket:id="lenta" class="mt10">
                    <div wicket:id="zametka">
                        <wicket:panel wicket:id="z"></wicket:panel>
                    </div>
                </div>
            </main>
        </div>
    </div>
</wicket:extend>

</html>