<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <div class="d-inline" style="font-size: 0;">
        <div style="color: #7fffd4;" class="f20px d-inline">Z</div>
        <div style="color: #ffe4c4;" class="f20px d-inline">a</div>
        <div style="color: #e1a8a8;" class="f20px d-inline">m</div>
        <div style="color: #fce8ae;" class="f20px d-inline">e</div>
        <div style="color: #9bf89b;" class="f20px d-inline">t</div>
        <div style="color: #cde4f8;" class="f20px d-inline">k</div>
        <div style="color: #ff9e9e;" class="f20px d-inline">i</div>
    </div>
</wicket:panel>
</body>
</html>