<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">

<wicket:extend>

    <script>
        var cls = document.createAttribute("class");
        cls.value = "lp-body";
        document.getElementsByTagName("body")[0].setAttributeNode(cls);
    </script>

    <nav class="navbar navbar-toggleable-sm navbar-inverse fixed-top bg-inverse">
        <button class="navbar-toggler navbar-toggler-right hidden-md-up" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <button wicket:id="groups_popup_link" class="navbar-toggler navbar-toggler-right hidden-md-up pr20"
                style="height: 40px; margin-right: 65px;" type="button">
            Категории
        </button>
        <a class="navbar-brand" href="/">
            <img src="/img/feather_32.png" style="filter: invert(0.97);">
            <span class="hidden-xs-down"><wicket:panel wicket:id="brand_logo"/></span>
        </a>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <!--<li class="nav-item active">-->
                <!--<a class="nav-link" href="#">Home</a>-->
                <!--</li>-->
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a wicket:id="logout_link" class="nav-link">Выход</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div wicket:id="groups_modal"></div>

        <div class="row">
            <nav class="col-md-2 hidden-sm-down bg-faded sidebar">
                <wicket:container wicket:id="groups"/>
            </nav>
            <main class="col-md-10 offset-md-2 pt-3">

                <div wicket:id="create_panel"></div>

                <div wicket:id="lenta" class="mt-2">
                    <div wicket:id="group_name"></div>
                    <div wicket:id="zametka">
                        <wicket:panel wicket:id="z"></wicket:panel>
                    </div>
                </div>
            </main>
        </div>
    </div>
</wicket:extend>

</html>