<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">

<wicket:extend>

    <script>
        var cls = document.createAttribute("class");
        cls.value = "lp-body";
        document.getElementsByTagName("body")[0].setAttributeNode(cls);
    </script>


    <wicket:container wicket:id="navbar"/>

    <div class="container-fluid">
        <!--<div wicket:id="groups_modal"></div>-->

        <div class="row">
            <nav class="col-md-2 hidden-sm-down bg-faded sidebar">
                <wicket:container wicket:id="groups"/>
            </nav>
            <main class="col-md-10 ml-auto pt-3">
                <div wicket:id="notes" class="mt-2"></div>
                <!--<div wicket:id="create_panel"></div>-->

                <!--<div wicket:id="lenta" class="mt-2">-->
                <!--<div wicket:id="group_name"></div>-->
                <!--<div wicket:id="zametka">-->
                <!--<wicket:container wicket:id="z"></wicket:container>-->
                <!--</div>-->
                <!--</div>-->
            </main>
        </div>
    </div>
</wicket:extend>

</html>