.w100 {
    width: 100%;
}

.dropdown-hover:hover .dropdown-menu {
    display: block;
}

.dropdown-toggle-no-caret::after {
    display: none;
}

.cursor-default {
    cursor: default;
}

.dropdown-menu {
    border-radius: 0;
}

