.w100 {
    width: 100%;
}

.inline-b {
    display: inline-block;
}

.inline {
    display: inline;
}

.dropdown-hover:hover .dropdown-menu {
    display: block;
}

.dropdown-toggle-no-caret::after {
    display: none;
}