<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:extend>
    <div class="container-fluid mb50 mt50">
        <div wicket:id="panel" class="txtc mt20" style="max-width: 340px;margin: 0 auto;">

            <h2 class="mb50">Восстановление пароля</h2>

            <div wicket:id="feedback"></div>

            <a wicket:id="back_home_link" class="mt30 btn btn-success">Вернуться на главную страницу</a>

            <form wicket:id="reset_from" class="mt30">
                <div class="form-group">
                    <label>Email или Имя</label>
                    <input wicket:id="email_or_login_field" class="form-control" type="text" required autofocus/>
                    <span wicket:id="login_error"></span>
                </div>

                <div class="form-group">
                    <label>Код на картинке</label>
                    <input wicket:id="captcha_value" class="form-control" type="text" required/>
                    <span wicket:id="captcha_error"></span>
                    <div class="mt20">
                        <img wicket:id="captcha_image" style="width: 180px;"/>
                        <a href="#" wicket:id="change_captcha" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-refresh mr-it"></i>Обновить</a>
                    </div>
                </div>
                <div class="txtc">
                    <a wicket:id="submit" class="btn btn-success">Восстановить пароль</a>
                </div>
            </form>
        </div>
    </div>
</wicket:extend>
</html>

