<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <form wicket:id="form" class="mt10">
        <textarea wicket:id="content_field" class="form-control form-control-sm"></textarea>
        <div class="mt10">
            <a wicket:id="cancel_link" class="btn btn-sm btn-secondary">Отменить</a>
            <a wicket:id="save_link" class="btn btn-sm btn-primary ml20">Сохранить</a>
        </div>
    </form>
</wicket:panel>
</body>
</html>