<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <div wicket:id="panel">

        <div wicket:id="content" class="inline-b"></div>

        <wicket:container wicket:id="category_badge"/>
        <div class="dropdown inline-b">
            <a href="#" class="dropdown-toggle dropdown-toggle-no-caret txt-normal f14px" data-toggle="dropdown" title="Действия">
                <i class="fa fa-cogs"></i>
            </a>
            <div class="dropdown-menu">
                <a wicket:id="delete_link" class="dropdown-item f14px">Удалить</a>
            </div>
        </div>
    </div>
</wicket:panel>
</body>
</html>